.ctc{height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #1d1d1d;
 
 }
 .contact{
margin-left: 15rem;
padding-top: 6rem;
 }
 .ctc1,.ctc2{
    color: #ffffff7f;
    opacity: 0.4;
    font-size: 20px;
    font-family: 'Allura', cursive;
     position: absolute;
    animation: fadeIn 1s 1.7s backwards;
    // margin-top: -3rem;
 }
 .ctc1{
    margin-top: -1rem;
 }
 .ctc2{
    margin-top: -1rem;
 }
 .contact-form {
    width: 600px;
    margin-top: -5px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
       position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #2b2b2b;
      height: 40px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }
  input[type='email'].focus{
    background-color: #2b2b2b;
    
  }
    textarea {
      width: 100%;
      border: 0;
      background: #2b2b2b;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding:  20px;
      box-sizing: border-box;
      min-height: 150px;
    }
  
    .flat-button {
      color: rgb(0, 255, 187);
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid rgb(0, 255, 187);
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;

      &:hover{
        transform: scale(0.95);
        cursor: pointer;
      }
    }
  }

